



<!-- <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor = "let hero of heroes">
  	This is an example of Angular's event binding syntax.
  	<a routerLink="/heroDetail/{{hero.id}}">
    	<span class="badge">{{hero.id}}</span> {{hero.name}}
	</a>
  </li>
</ul> -->


<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <span><button  class="delete" (click) = "deleteHero(hero)">x</button></span>
  </li>
</ul>

<input placeholder="Add Hero" name="" [(ngModel)] = "data"/><br />
<button (click) = "addHero()">Add Hero</button>





<!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. -->

<!-- The Angular class binding makes it easy to add and remove a CSS class conditionally. Just add [class.some-css-class]="some-condition" to the element you want to style. /= -->